Screen{
    layout: vertical;
}
Label{
    width: auto;
}
Input{
    width: 100%;
}
Horizontal{
    layout: grid;
    grid-size: 2;
}
.box{
    margin: 0 1;
    border: solid $primary;
    padding: 2 2 2 2;
}
.box Horizontal{
    grid-columns: 1fr 3fr
}
ProgressBar{
    width:100%;
    column-span: 2;
}