Screen{
    layout: vertical;
}
Label{
    width: auto;
}
Input{
    width: 100%;
}
Horizontal{
    layout: grid;
    grid-size: 2;
}
Button{
    margin: 0;
}
Log{
    margin:0;
    scrollbar-size-horizontal: 1;
    scrollbar-size-vertical: 1;
}
.box{
    margin: 0 1;
    border: solid $primary;
    padding: 2 2 2 2;
}
.box Horizontal{
    grid-columns: 1fr 3fr
}
ProgressBar{
    width:100%;
    column-span: 3;
}
#text{
    color: $secondary
}
#buttons-secction {
    height: 5;
}